parameters:
	excludes_analyse:

	inferPrivatePropertyTypeFromConstructor: true
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		- '#has no typehint specified#'
		- '#has no return typehint specified#'
